<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/path/to/your/css/styles.css">
</head>
<body>

    <%- include('partials/header') %>

    <main>
        <section id="blog-posts">
            <% for(let i = 0; i < blog_posts.length; i++) { %>
                <article class="blog-post">
                    <a href="/post/<%= blog_posts[i].nombre %>">
                        <img src="<%= blog_posts[i].portada %>" alt="<%= blog_posts[i].nombre %> portada" loading="lazy">
                        <h1><%= blog_posts[i].nombre %></h1>
                        <p>Descubre más...</p>
                    </a>
                    <% if (user_regis) { %>
                        <form action="/favorite" method="post">
                            <input type="hidden" name="postId" value="<%= blog_posts[i].id %>">
                            <button type="submit">Añadir a Favoritos</button>
                        </form>
                    <% } %>
                </article>
            <% } %>
        </section>
    </main>
    
</body>
</html>
