<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/logo empty.png" type="image/png">
    <title>Blog</title>
    <link rel="stylesheet" href="blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <%- include('partials/header') %>

    <div class="blog">
        <h1>Nuestro Blog</h1>
        <br>
        <div class="posts">
            <% for(let i = 0; i < blog_posts.length; i++) { %>
                <div class="blogPost">
                    <a href="/post/<%= blog_posts[i].nombre %>">
                        <img src="<%= blog_posts[i].portada %>">
                        <h2><%= blog_posts[i].nombre %></h2>
                        <p>Descubre más...</p>
                    </a>
                    <!-- Si el usuario está registrado, se muestra el botón de añadir a favoritos -->
                    <% if(user_regis) { %>
                        <!-- Variable para el id del post -->
                        <% const postId = blog_posts[i].id; %>
                        <!-- Se comprueba si el post está en favoritos -->
                        <% const isFavorite = favorites.includes(postId); %>
                        <form action="/favorite" method="post">
                            <input type="hidden" name="postId" value="<%= blog_posts[i].id %>">
                            <!-- Si el post está añadido, se marca en rojo -->
                            <% if (typeof isFavorite !== 'undefined' && isFavorite) { %>
                                <button type="submit"><i class="fa-solid fa-heart fa-2xl" style="color: #ff0000;"></i></button>
                                <a href="/cuenta"><p>Quitar de favoritos</p></a>
                            <!-- Si no lo está no se marca -->
                            <% } else { %>
                                <button type="submit"><i class="fa-regular fa-heart fa-2xl" style="color: #000000;"></i></button>
                            <% } %>
                        </form>
                    <% } %>
                    </div>
            <% } %>
        </div>
    </div>
    
</body>
</html>
